
@use "variables";

.header-image-container {
  background: url("#{$custom-url-images}cabecera.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 600px;
}

.h1-container {
  height: 60%;
}

.second-menu {
  padding-left: 0px;
}