
@use "variables";

.cards-section {
    header {
        height: 150px;
        .row {
            width: 100%;
            .col {
                position: relative;
                top: 30px;
            }
        }

        h4 {
            font-size: 30px;
            color: #5EA8E9;
        }

        h5 {
            font-size: 26px;
        }
    }

    .cards-container {
        @media screen and (min-width: $lg) {
            height: 320px;
        }
    }
}